page-result {



        .para {
           text-transform: uppercase;
            color: hsl(0, 100%, 50%);
           text-align: center;
           font-size: 12px;
            
        }
    

    
}
